# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\user\Desktop\CC-PUCSP\4 semestre\Estuturas-de-dados\HuffmanAlgorithm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
